[submodule "3rd_parties/cutlass"]
	path = 3rd_parties/cutlass
	url = https://github.com/smallscientist1/cutlass.git
[submodule "3rd_parties/tilelang"]
	path = 3rd_parties/tilelang
	url = https://github.com/smallscientist1/tilelang.git
	branch = AttentionEngine_upstream
[submodule "3rd_parties/cutlass_39"]
	path = 3rd_parties/cutlass_39
	url = https://github.com/NVIDIA/cutlass.git
